In [24]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [25]:
df = pd.read_csv('/home/ishita/Machine_learning/Dataset/breast-cancer-wisconsin.data')

In [26]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhension,single_epith_cell_size,bare_nuclei,bland_chrom,normal_nucleoli,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [27]:
df.replace('?', -99999, inplace=True) # outlier

In [28]:
df.drop(columns='id',axis = 1 , inplace=True)

In [29]:
X = np.array(df.drop(['class'],axis=1))

In [30]:
y = np.array(df['class'])

In [31]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [32]:
clf = KNeighborsClassifier()

In [33]:
clf.fit(X_train, y_train)

KNeighborsClassifier()

In [34]:
accuracy = clf.score(X_test, y_test)
accuracy

0.95

In [37]:
#prediction
example_measures = np.array([[4,2,1,1,1,2,3,2,1]])
prediction = clf.predict(example_measures)
prediction

array([2])

# Euclidean Distance

In [39]:
from math import sqrt

plot1 = [1,3]
plot2 = [2,5]

euclidean_distance = sqrt((plot1[0]-plot2[0])**2 + (plot1[1]-plot2[1])**2)
euclidean_distance

2.23606797749979